apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  prometheus.yaml: |-
    {
        "apiVersion": 1,
        "datasources": [
            {
               "access":"proxy",
                "editable": true,
                "name": "prometheus",
                "orgId": 1,
                "type": "prometheus",
                "url": "http://prometheus-service.monitoring.svc:8080",
                "version": 1
            }
        ]
    }


  loki.yaml: |-
    {
      "apiVersion": 1,
      "datasources": [
        {
          "name": "loki",
          "type": "loki",
          "access": "proxy",
          "url": "http://loki.monitoring.svc.cluster.local:3100",
          "editable": true,
          "jsonData": {
            "maxLines": 1000
          }
        }
      ]
    }