apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-deployment
  namespace: to-do-namespace
  labels:
    app: todo-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: omniaghonem/to-do-list:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 80
